---
import Layout from "../layouts/Layout.astro";
import Resize from "../components/Resize.astro"
---

<Layout title="Prueba de auto-grid">
    <h1>Prueba de autogrid</h1>
    <p>Esta es una demostración de cómo funciona el <b>grid automático</b> usando la propiedad "auto-fit" de <b>grid</b>.</p> 
	<p>Arrastra la ventana por los laterales para reducir la anchura y comprobar cómo se adaptan los distintos elementos del grid a X resolución, y sin <b>media queries</b> adicionales.</p>
    <main class="autogrid">
        <span>Elemento del grid</span>
        <span>Elemento del grid</span>
        <span>Elemento del grid</span>
        <span>Elemento del grid</span>
        <span>Elemento del grid</span>
        <span>Elemento del grid</span>
        <span>Elemento del grid</span>
        <span>Elemento del grid</span>
        <span>Elemento del grid</span>
        <span>Elemento del grid</span>
        <span>Elemento del grid</span>
        <span>Elemento del grid</span>
        <span>Elemento del grid</span>
        <span>Elemento del grid</span>
    </main>
    <Resize />
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		max-width: calc(100% - 5rem);
		color: var(--foreground);
		font-size: 20px;
		line-height: 1.6;
	}

	p {
	    width: 80%;
	    margin: 0 auto;
	    line-height: 1.6;
	    padding: 1rem 0
	}

	.autogrid {
		display: grid;
	    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	    border: 1px solid var(--border);
	    gap: 1.5rem;
	    border-radius: .75rem;
	    padding: 3rem 1rem;

	    & > span {
            border: 1px solid var(--border);
            padding: 1.5rem 0;
            border-radius: .5rem;
            box-shadow: 0 .5rem .5rem var(--box-shadow);
	    }
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
	}
</style>
